/* styles.css */
/* Customize the styles for Markdown content */
* {
   font-family: inherit;
   
 }
 /* Change the color of headings */
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
   color: black;
   margin: 5px;
   font-weight:600
 }
 
 /* Style the tables */
 table {
   width: 100%;
   border-collapse: collapse;
 }
 
 th,
 td {
   border: 1px solid #ddd;
   padding: 8px;
   text-align: left;
 }
 
 th {
   background-color: #f2f2f2;
 }
 
 li {
   list-style: none;
 }
 