/* styles.module.css */

.markdown{
   margin-bottom: 16px;
}
.markdown-table {
   border-collapse: collapse;
   width: 50%;
 }
 
 .markdown-table th,
 .markdown-table td {
   border: 1px solid #000000;
   padding: 8px;
   text-align: center;
 }
 
 .markdown-table th {
   background-color: #ffffff;
 }

 
 